/* Global Styles */
html, body{
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: space-around;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 45%;
    margin-left: -2vw;
}

header {
    float: left;
    border: 1px solid black;
    border-radius: 10px;
    width: auto;
}

header h1 {
    margin: 1vw;
}

header p {
    margin: 1vw;
}

.character-img img {
    height: 45vw;
    width: auto;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 45%;
    margin-right: -2vw;
    padding-bottom: 17vw;
}

.background {
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 13vw;
    width: auto;
}

.background h1 {
    margin: 1vw;
}

.background p {
    margin: 1vw;
}


button {
    border: 1px solid black;
    border-radius: 10px;
    width: 22vw;
    height: 5vw;
    margin: 0 12vw;
}