/* Global Styles */
html, body{
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    background-image: url("../Assets/start-page-background.jpg");
    background-color: lightblue;
    display: flex;
    justify-content: space-around;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 4em;
}

p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1em;  
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 45%;
    margin-left: -2vw;
}

header {
    background-color: white;
    float: left;
    border: 1px solid black;
    border-radius: 10px;
    width: auto;
}

header h1 {
 
    margin: 1vw;
}

header p {
    margin: 1vw;
  
}

.character-img img {
    height: 40vw;
    width: auto;
    margin-top: 2vw;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 45%;
    margin-right: -2vw;
    padding-bottom: 13vw;
}

.background { 
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 13vw;
    width: auto;
}

.background h1 {
    margin: 1vw;
}

.background p {
    margin: 1vw;
}


button {
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 10px;
    width: 20vw;
    height: 50px;
    margin: 0 12vw;
}