/* Global Styles */
html, body{
    height: 100%;
    width: 100%;
    margin: 0;
}

/* Top section */

.top {
    display: flex;
    justify-content: space-between;
}

header {
    float: left;
    border: 1px solid black;
    border-radius: 10px;
}

.story p {
    float: right;
    border: 1px solid black;
    border-radius: 10px;
    width: 50vw;
}

/* Middle Section */
 .middle {
     display: flex;
     justify-content: space-between;
 }

.lives {
    border: 1px solid black;
    border-radius: 10px;
    width: 20vw;
}


.stats {
    border: 1px solid black;
    border-radius: 10px;
    width: 50vw;
}

/* Bottom Section */

.bottom {
    display: flex;
    justify-content: space-between;
}
.options {
    border: 1px solid black;
    border-radius: 10px;
    width: 50vw;
}

.satchel{
    height: 50px;
    width: 50px;
}
